NODE_ENV=development
PORT=3000
JWT_SECRET=escreva_um_secret_seguro_aqui_para_producao

# URL do seu Neon Postgres DB
# Ex: postgresql://neondb_owner:password@ep-...neon.tech/neondb?sslmode=require&channel_binding=require
DATABASE_URL="SUA_URL_DO_NEON_AQUI"
